[Unit]
Description=LKP bootstrap
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/lkp-bootstrap
IgnoreSIGPIPE=no

[Install]
WantedBy=multi-user.target
