[Unit]
Description=LKP bootstrap
After=sysinit.target
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/lkp-bootstrap
IgnoreSIGPIPE=no
KillMode=none

[Install]
WantedBy=multi-user.target
