[mysqld_safe]
log-error=/data/mysql/log/mysql.log
pid-file=/data/mysql/run/mysqld.pid
[mysqldump]
quick
[mysql]
[client]
# default-character-set=utf8mb4
default-character-set=utf8
socket=/data/mysql/run/mysql.sock

[mysqld]
socket=/data/mysql/run/mysql.sock
tmpdir=/data/mysql/tmp
datadir=/data/mysql/data
basedir=/usr/local/mysql
default_authentication_plugin=mysql_native_password
user=mysql
memlock=on
bind-address=0.0.0.0
skip-name-resolve
skip-grant-tables

lc-messages=en_US
lc-messages-dir=/usr/local/mysql/share

innodb_page_size=64k
max_connections=4000
back_log=2048
performance_schema=OFF
max_prepared_stmt_count=128000

#file
innodb_file_per_table
innodb_log_file_size=2048M
innodb_log_files_in_group=32
innodb_open_files=10000
table_open_cache_instances=64

#buffers
innodb_buffer_pool_size=128G
innodb_buffer_pool_instances=64
innodb_log_buffer_size=2048M

#tune
sync_binlog=0
innodb_flush_log_at_trx_commit=0
innodb_use_native_aio=1
innodb_spin_wait_delay=160
innodb_sync_spin_loops=20
innodb_flush_method=O_DIRECT
innodb_io_capacity=30000
innodb_io_capacity_max=40000
innodb_lru_scan_depth=9000
innodb_page_cleaners=1
innodb_spin_wait_pause_multiplier=25

#perf special
innodb_flush_neighbors=0
innodb_write_io_threads=1
innodb_read_io_threads=1
innodb_purge_threads=1

sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO,STRICT_ALL_TABLES

#skop_log_bin
ssl=0

table_open_cache=15000
