#!/bin/bash

irrelavant()
{
	[[ $kconfig =~ 'XFS_DEBUG'   ]] && [[ $fs_fs != 'xfs'   ]] && return 0
	[[ $kconfig =~ 'EXT4_DEBUG'  ]] && [[ $fs_fs != 'ext4'  ]] && return 0
	[[ $kconfig =~ 'JBD2_DEBUG'  ]] && [[ $fs_fs != 'ext4'  ]] && return 0
	return 1
}

irrelavant && {
	echo "rm irrevlant $job_file"
	rm $job_file
}
